# Python Midterm Exam

### Sander Belon

### 14.11.2022

## Problem 1

In [4]:
#importing packages

import pandas as pd
import numpy as np
import requests
import json

In [5]:
url = 'https://ies-python-midterm.s3.eu-central-1.amazonaws.com/studentsSets/30241262.zip'

In [6]:
r = requests.get(url)

In [60]:
L = ('./data/L.csv')

In [61]:
C = ('./data/C.csv')

In [62]:
ADP = ('./data/ADP.csv')

In [63]:
LUV = ('./data/LUV.csv')

In [49]:
df = pd.concat(
    map(pd.read_csv, [df_L, df_ADP, df_C, df_LUV]))

In [70]:
df_L = pd.DataFrame(pd.read_csv(L))

In [71]:
df_L = df_L.set_index('Date')

In [80]:
df_C = pd.DataFrame(pd.read_csv(C))

In [81]:
df_C = df_C.set_index('Date')

In [83]:
df_ADP = pd.DataFrame(pd.read_csv(ADP))

In [84]:
df_ADP = df_ADP.set_index('Date')

In [87]:
df_LUV = pd.DataFrame(pd.read_csv(LUV))

In [88]:
df_LUV = df_LUV.set_index('Date')

In [91]:
df_L['Close']!=df_L['Adj Close']

Date
2017-11-13     True
2017-11-14     True
2017-11-15     True
2017-11-16     True
2017-11-17     True
              ...
2022-11-07    False
2022-11-08    False
2022-11-09    False
2022-11-10    False
2022-11-11    False
Length: 1259, dtype: bool

In [93]:
df_C['Close']!=df_C['Adj Close']

Date
2017-11-13     True
2017-11-14     True
2017-11-15     True
2017-11-16     True
2017-11-17     True
              ...
2022-11-07    False
2022-11-08    False
2022-11-09    False
2022-11-10    False
2022-11-11    False
Length: 1259, dtype: bool

In [95]:
df_LUV['Close']!=df_LUV['Adj Close']

Date
2017-11-13     True
2017-11-14     True
2017-11-15     True
2017-11-16     True
2017-11-17     True
              ...
2022-11-07    False
2022-11-08    False
2022-11-09    False
2022-11-10    False
2022-11-11    False
Length: 1259, dtype: bool

In [96]:
df_ADP['Close']!=df_ADP['Adj Close']

Date
2017-11-13     True
2017-11-14     True
2017-11-15     True
2017-11-16     True
2017-11-17     True
              ...
2022-11-07    False
2022-11-08    False
2022-11-09    False
2022-11-10    False
2022-11-11    False
Length: 1259, dtype: bool

Yes, all companies experience at a specific date a difference between Close and Adj Close. This means that ...

In [98]:
df_C.describe()

,High,Low,Open,Close,Volume,Adj Close
count,1259.000000,1259.000000,1259.000000,1259.000000,1.259000e+03,1259.000000
mean,63.872065,62.380485,63.152280,63.106052,1.971048e+07,59.258520
std,10.615420,10.769412,10.685572,10.694397,8.784308e+06,9.388381
min,37.990002,32.000000,35.470001,35.389999,4.576200e+06,32.968502
25%,53.635000,52.025000,52.820002,52.809999,1.356420e+07,51.440001
50%,66.830002,65.230003,66.129997,66.080002,1.766090e+07,60.896164
75%,72.000000,70.680000,71.334999,71.375000,2.389980e+07,66.410423
max,83.110001,80.970001,81.959999,81.910004,8.656620e+07,78.082741

In [99]:
df_L.describe()

,High,Low,Open,Close,Volume,Adj Close
count,1259.000000,1259.000000,1259.000000,1259.000000,1.259000e+03,1259.000000
mean,50.671660,49.703312,50.184075,50.176052,1.057290e+06,49.702547
std,7.579851,7.681085,7.633258,7.632317,5.437245e+05,7.721808
min,29.420000,27.330000,28.250000,28.799999,3.001000e+05,28.493643
25%,48.025000,47.205000,47.594999,47.575001,7.223000e+05,46.878710
50%,51.049999,50.299999,50.689999,50.759998,9.347000e+05,49.952072
75%,55.539999,54.625000,55.094999,55.119999,1.222200e+06,54.881210
max,68.199997,66.599998,67.500000,67.360001,5.592500e+06,67.360001

In [100]:
df_LUV.describe()

,High,Low,Open,Close,Volume,Adj Close
count,1259.000000,1259.000000,1259.000000,1259.000000,1.259000e+03,1259.000000
mean,49.669531,48.304702,49.010350,48.968205,7.298895e+06,48.537834
std,8.913654,9.044236,8.970799,8.984196,6.304535e+06,8.656748
min,24.809999,22.469999,23.379999,23.870001,1.098400e+06,23.870001
25%,43.490002,41.990000,42.755001,42.820000,4.100250e+06,42.820000
50%,51.560001,50.340000,50.959999,50.910000,5.683900e+06,50.234112
75%,55.889999,54.540001,55.260000,55.115000,8.255000e+06,54.644875
max,66.989998,65.980003,66.500000,66.290001,1.010078e+08,64.447029

In [101]:
df_ADP.describe()

,High,Low,Open,Close,Volume,Adj Close
count,1259.000000,1259.000000,1259.000000,1259.000000,1.259000e+03,1259.000000
mean,172.437522,169.084520,170.771398,170.861612,1.978432e+06,163.661444
std,37.752878,37.177623,37.455614,37.463405,1.039699e+06,40.471893
min,110.440002,103.110001,108.529999,108.250000,3.502000e+05,98.127808
25%,142.335007,139.080002,140.985001,140.805000,1.364000e+06,132.173737
50%,165.619995,162.710007,164.410004,164.389999,1.739700e+06,154.279160
75%,204.384995,200.279999,202.160004,201.989998,2.264100e+06,198.518616
max,261.589996,259.549988,260.369995,260.940002,1.711080e+07,259.817322

- For company C:
-- The highest price for Adj Close counts 78.082741.
-- The lowes price counts 32.968502.
- For company L:
-- The highest price for Adj Close counts 67.360001.
-- The lowes price counts 28.493643.
- For company LUV:
-- The highest price for Adj Close counts 64.447029.
-- The lowes price counts 23.870001.
- For company ADP:
-- The highest price for Adj Close counts 259.817322.
-- The lowes price counts 98.127808.

In [104]:
df_L['ln']= np.log2(df_L['Adj Close'])
df_C['ln']= np.log2(df_C['Adj Close'])
df_LUV['ln']= np.log2(df_LUV['Adj Close'])
df_ADP['ln']= np.log2(df_ADP['Adj Close'])

In [108]:
df_L['ln'].describe()

count    1259.000000
mean        5.616136
std         0.241265
min         4.832568
25%         5.550861
50%         5.642473
75%         5.778240
max         6.073820
Name: ln, dtype: float64

In [112]:
df_C['ln'].describe()

count    1259.000000
mean        5.869359
std         0.243051
min         5.043016
25%         5.684819
50%         5.928279
75%         6.053338
max         6.286932
Name: ln, dtype: float64

In [113]:
df_LUV['ln'].describe()

count    1259.000000
mean        5.575712
std         0.278040
min         4.577127
25%         5.420213
50%         5.650595
75%         5.772014
max         6.010042
Name: ln, dtype: float64

In [114]:
df_ADP['ln'].describe()

count    1259.000000
mean        7.311148
std         0.353637
min         6.616590
25%         7.046292
50%         7.269399
75%         7.633130
max         8.021354
Name: ln, dtype: float64

In [119]:
df_L.idxmax()

High         2022-04-21
Low          2022-04-21
Open         2022-04-21
Close        2022-04-20
Volume       2021-09-17
Adj Close    2022-04-20
Match        2017-11-13
ln           2022-04-20
dtype: object

In [123]:
df_C.idxmax()

High         2020-01-14
Low          2020-01-14
Open         2020-01-16
Close        2020-01-14
Volume       2022-07-15
Adj Close    2021-06-02
ln           2021-06-02
dtype: object

In [124]:
df_LUV.idxmax()

High         2017-12-21
Low          2017-12-21
Open         2017-12-21
Close        2018-01-02
Volume       2020-04-29
Adj Close    2018-01-02
ln           2018-01-02
dtype: object

In [125]:
df_ADP.idxmax()

High         2022-08-18
Low          2022-08-18
Open         2022-08-18
Close        2022-08-18
Volume       2019-07-02
Adj Close    2022-08-18
ln           2022-08-18
dtype: object

## Problem 2

In [133]:
url = 'https://ies-python-midterm.s3.eu-central-1.amazonaws.com/companies/companies_no_subindustry.csv'
r = requests.get(url)

'ï»¿Symbol,Security,GICSÂ\xa0Sector,hq,included,Founded\r\nMMM,3M,Industrials,"Saint Paul, Minnesota",09.08.1976,1902\r\nAOS,A. O. Smith,Industrials,"Milwaukee, Wisconsin",26.07.2017,1916\r\nABT,Abbott,Health Care,"North Chicago, Illinois",31.03.1964,1888\r\nABBV,AbbVie,Health Care,"North Chicago, Illinois",31.12.2012,2013 (1888)\r\nABMD,Abiomed,Health Care,"Danvers, Massachusetts",31.05.2018,1981\r\nACN,Accenture,Information Technology,"Dublin, Ireland",06.07.2011,1989\r\nATVI,Activision Blizzard,Communication Services,"Santa Monica, California",31.08.2015,2008\r\nADM,ADM,Consumer Staples,"Chicago, Illinois",29.07.1981,1902\r\nADBE,Adobe Inc.,Information Technology,"San Jose, California",05.05.1997,1982\r\nADP,ADP,Information Technology,"Roseland, New Jersey",31.03.1981,1949\r\nAAP,Advance Auto Parts,Consumer Discretionary,"Raleigh, North Carolina",09.07.2015,1932\r\nAES,AES Corporation,Utilities,"Arlington, Virginia",02.10.1998,1981\r\nAFL,Aflac,Financials,"Columbus, Georgia",28.05.1999,1955\r\nA,Agilent Technologies,Health Care,"Santa Clara, California",05.06.2000,1999\r\nAPD,Air Products and Chemicals,Materials,"Allentown, Pennsylvania",30.04.1985,1940\r\nAKAM,Akamai,Information Technology,"Cambridge, Massachusetts",12.07.2007,1998\r\nALK,Alaska Air Group,Industrials,"SeaTac, Washington",13.05.2016,1985\r\nALB,Albemarle Corporation,Materials,"Charlotte, North Carolina",01.07.2016,1994\r\nARE,Alexandria Real Estate Equities,Real Estate,"Pasadena, California",20.03.2017,1994\r\nALGN,Align Technology,Health Care,"Tempe, Arizona",19.06.2017,1997\r\nALLE,Allegion,Industrials,"New York City, New York",02.12.2013,1908\r\nLNT,Alliant Energy,Utilities,"Madison, Wisconsin",01.07.2016,1917\r\nALL,Allstate,Financials,"Northfield Township, Illinois",13.07.1995,1931\r\nGOOGL,Alphabet Inc.Â\xa0(Class A),Communication Services,"Mountain View, California",03.04.2014,1998\r\nGOOG,Alphabet Inc.Â\xa0(Class C),Communication Services,"Mountain View, California",03.04.2006,1998\r\nMO,Altria,Consumer Staples,"Richmond, Virginia",04.03.1957,1985\r\nAMZN,Amazon,Consumer Discretionary,"Seattle, Washington",18.11.2005,1994\r\nAMCR,Amcor,Materials,"Warmley,Â\xa0Bristol, United Kingdom",07.06.2019,2019 (1860)\r\nAMD,AMD,Information Technology,"Santa Clara, California",,1969\r\nAEE,Ameren,Utilities,"St. Louis, Missouri",19.09.1991,1902\r\nAAL,American Airlines Group,Industrials,"Fort Worth, Texas",23.03.2015,1934\r\nAEP,American Electric Power,Utilities,"Columbus, Ohio",04.03.1957,1906\r\nAXP,American Express,Financials,"New York City, New York",30.06.1976,1850\r\nAIG,American International Group,Financials,"New York City, New York",31.03.1980,1919\r\nAMT,American Tower,Real Estate,"Boston, Massachusetts",19.11.2007,1995\r\nAWK,American Water Works,Utilities,"Camden, New Jersey",04.03.2016,1886\r\nAMP,Ameriprise Financial,Financials,"Minneapolis, Minnesota",03.10.2005,1894\r\nABC,AmerisourceBergen,Health Care,"Conshohocken, Pennsylvania",30.08.2001,1985\r\nAME,Ametek,Industrials,"Berwyn, Pennsylvania",23.09.2013,1930\r\nAMGN,Amgen,Health Care,"Thousand Oaks, California",02.01.1992,1980\r\nAPH,Amphenol,Information Technology,"Wallingford, Connecticut",30.09.2008,1932\r\nADI,Analog Devices,Information Technology,"Wilmington, Massachusetts",12.10.1999,1965\r\nANSS,Ansys,Information Technology,"Canonsburg, Pennsylvania",19.06.2017,1969\r\nAON,Aon,Financials,"London, UK",23.04.1996,1982 (1919)\r\nAPA,APA Corporation,Energy,"Houston, Texas",28.07.1997,1954\r\nAAPL,Apple Inc.,Information Technology,"Cupertino, California",30.11.1982,1977\r\nAMAT,Applied Materials,Information Technology,"Santa Clara, California",16.03.1995,1967\r\nAPTV,Aptiv,Consumer Discretionary,"Dublin, Ireland",24.12.2012,1994\r\nACGL,Arch Capital Group,Financials,"Hamilton, Bermuda",01.11.2022,1995\r\nANET,Arista Networks,Information Technology,"Santa Clara, California",28.08.2018,2004\r\nAJG,Arthur J. Gallagher & Co.,Financials,"Rolling Meadows, Illinois",31.05.2016,1927\r\nAIZ,Assurant,Financials,"New York City, New York",10.04.2007,1892\r\nT,AT&T,Communication Services,"Dallas, Texas",1983-11-30 (1957-03-04),1983 (1885)\r\nATO,Atmos Energy,Utilities,"Dallas, Texas",15.02.2019,1906\r\nADSK,Autodesk,Information Technology,"San Francisco, California",01.12.1989,1982\r\nAZO,AutoZone,Consumer Discretionary,"Memphis, Tennessee",02.01.1997,1979\r\nAVB,AvalonBay Communities,Real Estate,"Arlington, Virginia",10.01.2007,1978\r\nAVY,Avery Dennison,Materials,"Glendale, California",31.12.1987,1990\r\nBKR,Baker Hughes,Energy,"Houston, Texas",07.07.2017,2017\r\nBALL,Ball Corporation,Materials,"Broomfield, Colorado",31.10.1984,1880\r\nBAC,Bank of America,Financials,"Charlotte, North Carolina",30.06.1976,1998 (1923 / 1874)\r\nBBWI,"Bath & Body Works, Inc.",Consumer Discretionary,"Columbus, Ohio",30.09.1983,1963\r\nBAX,Baxter International,Health Care,"Deerfield, Illinois",30.09.1972,1931\r\nBDX,Becton Dickinson,Health Care,"Franklin Lakes, New Jersey",30.09.1972,1897\r\nWRB,Berkley,Financials,"Greenwich, Connecticut",05.12.2019,1967\r\nBRK.B,Berkshire Hathaway,Financials,"Omaha, Nebraska",16.02.2010,1839\r\nBBY,Best Buy,Consumer Discretionary,"Richfield, Minnesota",29.06.1999,1966\r\nBIO,Bio-Rad,Health Care,"Hercules, California",22.06.2020,1952\r\nTECH,Bio-Techne,Health Care,"Minneapolis, Minnesota",30.08.2021,1976\r\nBIIB,Biogen,Health Care,"Cambridge, Massachusetts",13.11.2003,1978\r\nBLK,BlackRock,Financials,"New York City, New York",04.04.2011,1988\r\nBK,BNY Mellon,Financials,"New York City, New York",31.03.1995,1784\r\nBA,Boeing,Industrials,"Chicago, Illinois",04.03.1957,1916\r\nBKNG,Booking Holdings,Consumer Discretionary,"Norwalk, Connecticut",06.11.2009,1996\r\nBWA,BorgWarner,Consumer Discretionary,"Auburn Hills, Michigan",19.12.2011,1880\r\nBXP,Boston Properties,Real Estate,"Boston, Massachusetts",03.04.2006,1970\r\nBSX,Boston Scientific,Health Care,"Marlborough, Massachusetts",24.02.1995,1979\r\nBMY,Bristol Myers Squibb,Health Care,"New York City, New York",04.03.1957,1989\r\nAVGO,Broadcom Inc.,Information Technology,"San Jose, California",08.05.2014,1961\r\nBR,Broadridge Financial Solutions,Information Technology,"Lake Success, New York",18.06.2018,1962\r\nBRO,Brown & Brown,Financials,"Daytona Beach, Florida",20.09.2021,1939\r\nBF.B,Brownâ\x80\x93Forman,Consumer Staples,"Louisville, Kentucky",31.10.1982,1870\r\nCHRW,C.H. Robinson,Industrials,"Eden Prairie, Minnesota",02.03.2007,1905\r\nCDNS,Cadence Design Systems,Information Technology,"San Jose, California",18.09.2017,1988\r\nCZR,Caesars Entertainment,Consumer Discretionary,"Reno, Nevada",22.03.2021,1973\r\nCPT,Camden Property Trust,Real Estate,"Houston, Texas",04.04.2022,1981\r\nCPB,Campbell Soup Company,Consumer Staples,"Camden, New Jersey",04.03.1957,1869\r\nCOF,Capital One,Financials,"Tysons Corner, Virginia",01.07.1998,1994\r\nCAH,Cardinal Health,Health Care,"Dublin, Ohio",27.05.1997,1971\r\nKMX,CarMax,Consumer Discretionary,"Richmond, Virginia",28.06.2010,1993\r\nCCL,Carnival,Consumer Discretionary,"Miami, Florida",22.12.1998,1972\r\nCARR,Carrier Global,Industrials,"Palm Beach Gardens, Florida",03.04.2020,2020 (1915)\r\nCTLT,Catalent,Health Care,"Somerset, New Jersey",21.09.2020,2007\r\nCAT,Caterpillar Inc.,Industrials,"Irving, Texas",04.03.1957,1925\r\nCBOE,Cboe Global Markets,Financials,"Chicago, Illinois",01.03.2017,1973\r\nCBRE,CBRE Group,Real Estate,"Dallas, Texas",10.11.2006,1906\r\nCDW,CDW,Information Technology,"Lincolnshire, Illinois",23.09.2019,1984\r\nCE,Celanese,Materials,"Irving, Texas",24.12.2018,1918\r\nCNC,Centene Corporation,Health Care,"St. Louis, Missouri",30.03.2016,1984\r\nCNP,CenterPoint Energy,Utilities,"Houston, Texas",31.07.1985,1882\r\nCDAY,Ceridian,Information Technology,"Minneapolis, Minnesota",20.09.2021,1992\r\nCF,CF Industries,Materials,"Deerfield, Illinois",27.08.2008,1946\r\nCRL,Charles River Laboratories,Health Care,"Wilmington, Massachusetts",14.05.2021,1947\r\nSCHW,Charles Schwab Corporation,Financials,"Westlake, Texas",02.06.1997,1971\r\nCHTR,Charter Communications,Communication Services,"Stamford, Connecticut",08.09.2016,1993\r\nCVX,Chevron Corporation,Energy,"San Ramon, California",04.03.1957,1879\r\nCMG,Chipotle Mexican Grill,Consumer Discretionary,"Newport Beach, California",28.04.2011,1993\r\nCB,Chubb Limited,Financials,"Zurich, Switzerland",15.07.2010,1985\r\nCHD,Church & Dwight,Consumer Staples,"Ewing, New Jersey",29.12.2015,1847\r\nCI,Cigna,Health Care,"Bloomfield, Connecticut",30.06.1976,1982\r\nCINF,Cincinnati Financial,Financials,"Fairfield, Ohio",18.12.1997,1950\r\nCTAS,Cintas,Industrials,"Mason, Ohio",01.03.2001,1929\r\nCSCO,Cisco,Information Technology,"San Jose, California",01.12.1993,1984\r\nC,Citigroup,Financials,"New York City, New York",31.05.1988,1998\r\nCFG,Citizens Financial Group,Financials,"Providence, Rhode Island",29.01.2016,1828\r\nCLX,Clorox,Consumer Staples,"Oakland, California",31.03.1969,1913\r\nCME,CME Group,Financials,"Chicago, Illinois",11.08.2006,1848\r\nCMS,CMS Energy,Utilities,"Jackson, Michigan",03.05.1999,1886\r\nKO,The Coca-Cola Company,Consumer Staples,"Atlanta, Georgia",04.03.1957,1886\r\nCTSH,Cognizant,Information Technology,"Teaneck, New Jersey",17.11.2006,1994\r\nCL,Colgate-Palmolive,Consumer Staples,"New York City, New York",04.03.1957,1806\r\nCMCSA,Comcast,Communication Services,"Philadelphia, Pennsylvania",19.11.2002,1963\r\nCMA,Comerica,Financials,"Dallas, Texas",01.12.1995,1849\r\nCAG,Conagra Brands,Consumer Staples,"Chicago, Illinois",31.08.1983,1919\r\nCOP,ConocoPhillips,Energy,"Houston, Texas",04.03.1957,2002\r\nED,Consolidated Edison,Utilities,"New York City, New York",,1823\r\nSTZ,Constellation Brands,Consumer Staples,"Victor, New York",01.07.2005,1945\r\nCEG,Constellation Energy,Utilities,"Baltimore, Maryland",02.02.2022,1999\r\nCOO,CooperCompanies,Health Care,"San Ramon, California",23.09.2016,1958\r\nCPRT,Copart,Industrials,"Dallas, Texas",02.07.2018,1982\r\nGLW,Corning Inc.,Information Technology,"Corning, New York",,1851\r\nCTVA,Corteva,Materials,"Indianapolis, Indiana",03.06.2019,2019\r\nCSGP,CoStar Group,Industrials,"Washington, D.C.",19.09.2022,1987\r\nCOST,Costco,Consumer Staples,"Issaquah, Washington",01.10.1993,1976\r\nCTRA,Coterra,Energy,"Houston, Texas",23.06.2008,2021 (1989)\r\nCCI,Crown Castle,Real Estate,"Houston, Texas",14.03.2012,1994\r\nCSX,CSX,Industrials,"Jacksonville, Florida",30.09.1967,1980\r\nCMI,Cummins,Industrials,"Columbus, Indiana",31.03.1965,1919\r\nCVS,CVS Health,Health Care,"Woonsocket, Rhode Island",04.03.1957,1996\r\nDHI,D.R. Horton,Consumer Discretionary,"Arlington, Texas",22.06.2005,1978\r\nDHR,Danaher Corporation,Health Care,"Washington, D.C.",,1969\r\nDRI,Darden Restaurants,Consumer Discretionary,"Orlando, Florida",,1938\r\nDVA,DaVita Inc.,Health Care,"Denver, Colorado",31.07.2008,1979\r\nDE,John Deere,Industrials,"Moline, Illinois",04.03.1957,1837\r\nDAL,Delta Air Lines,Industrials,"Atlanta, Georgia",11.09.2013,1929\r\nXRAY,Dentsply Sirona,Health Care,"Charlotte, North Carolina",14.11.2008,2016 (1969)\r\nDVN,Devon Energy,Energy,"Oklahoma City, Oklahoma",30.08.2000,1971\r\nDXCM,Dexcom,Health Care,"San Diego, California",12.05.2020,1999\r\nFANG,Diamondback Energy,Energy,"Midland, Texas",03.12.2018,2007\r\nDLR,Digital Realty,Real Estate,"Austin, Texas",18.05.2016,2004\r\nDFS,Discover Financial,Financials,"Riverwoods, Illinois",02.07.2007,1985\r\nDISH,Dish Network,Communication Services,"Meridian, Colorado",13.03.2017,1980\r\nDIS,Disney,Communication Services,"Burbank, California",30.06.1976,1923\r\nDG,Dollar General,Consumer Discretionary,"Goodlettsville, Tennessee",03.12.2012,1939\r\nDLTR,Dollar Tree,Consumer Discretionary,"Chesapeake, Virginia",19.12.2011,1986\r\nD,Dominion Energy,Utilities,"Richmond, Virginia",,1983\r\nDPZ,Domino\'s,Consumer Discretionary,"Ann Arbor, Michigan",12.05.2020,1960\r\nDOV,Dover Corporation,Industrials,"Downers Grove, Illinois",31.10.1985,1955\r\nDOW,Dow Inc.,Materials,"Midland, Michigan",01.04.2019,2019\r\nDTE,DTE Energy,Utilities,"Detroit, Michigan",04.03.1957,1995\r\nDUK,Duke Energy,Utilities,"Charlotte, North Carolina",30.06.1976,1904\r\nDD,DuPont,Materials,"Wilmington, Delaware",02.04.2019,2017\r\nDXC,DXC Technology,Information Technology,"Tysons Corner, Virginia",04.04.2017,2017\r\nEMN,Eastman Chemical Company,Materials,"Kingsport, Tennessee",01.01.1994,1920\r\nETN,Eaton Corporation,Industrials,"Dublin, Ireland",,1911\r\nEBAY,eBay,Consumer Discretionary,"San Jose, California",22.07.2002,1995\r\nECL,Ecolab,Materials,"Saint Paul, Minnesota",31.01.1989,1923\r\nEIX,Edison International,Utilities,"Rosemead, California",04.03.1957,1886\r\nEW,Edwards Lifesciences,Health Care,"Irvine, California",01.04.2011,1958\r\nEA,Electronic Arts,Communication Services,"Redwood City, California",22.07.2002,1982\r\nELV,Elevance Health,Health Care,"Indianapolis, Indiana",25.07.2002,2014 (1946)\r\nLLY,Eli Lilly and Company,Health Care,"Indianapolis, Indiana",31.12.1970,1876\r\nEMR,Emerson Electric,Industrials,"Ferguson, Missouri",31.03.1965,1890\r\nENPH,Enphase,Information Technology,"Fremont, California",07.01.2021,2006\r\nETR,Entergy,Utilities,"New Orleans, Louisiana",04.03.1957,1913\r\nEOG,EOG Resources,Energy,"Houston, Texas",02.11.2000,1999\r\nEPAM,EPAM Systems,Information Technology,"Newtown, Pennsylvania",14.12.2021,1993\r\nEQT,EQT,Energy,"Pittsburgh, Pennsylvania",03.10.2022,1888\r\nEFX,Equifax,Industrials,"Atlanta, Georgia",19.06.1997,1899\r\nEQIX,Equinix,Real Estate,"Redwood City, California",20.03.2015,1998\r\nEQR,Equity Residential,Real Estate,"Chicago, Illinois",03.12.2001,1969\r\nESS,Essex Property Trust,Real Estate,"San Mateo, California",02.04.2014,1971\r\nEL,The EstÃ©e Lauder Companies,Consumer Staples,"New York City, New York",05.01.2006,1946\r\nETSY,Etsy,Consumer Discretionary,"New York City, New York",21.09.2020,2005\r\nRE,Everest Re,Financials,"Hamilton, Bermuda",19.06.2017,1973\r\nEVRG,Evergy,Utilities,"Kansas City, Missouri",05.06.2018,1909\r\nES,Eversource,Utilities,"Hartford, Connecticut",2009,1966\r\nEXC,Exelon,Utilities,"Chicago, Illinois",04.03.1957,2000\r\nEXPE,Expedia Group,Consumer Discretionary,"Seattle, Washington",02.10.2007,1996\r\nEXPD,Expeditors International,Industrials,"Seattle, Washington",10.10.2007,1979\r\nEXR,Extra Space Storage,Real Estate,"Salt Lake City, Utah",19.01.2016,1977\r\nXOM,ExxonMobil,Energy,"Irving, Texas",04.03.1957,1999\r\nFFIV,"F5, Inc.",Information Technology,"Seattle, Washington",20.12.2010,1996\r\nFDS,FactSet,Financials,"Norwalk, Connecticut",20.12.2021,1978\r\nFAST,Fastenal,Industrials,"Winona, Minnesota",15.09.2008,1967\r\nFRT,Federal Realty,Real Estate,"Rockville, Maryland",01.02.2016,1962\r\nFDX,FedEx,Industrials,"Memphis, Tennessee",31.12.1980,1971\r\nFITB,Fifth Third Bank,Financials,"Cincinnati, Ohio",,1858\r\nFRC,First Republic Bank,Financials,"San Francisco, California",02.01.2019,1985\r\nFE,FirstEnergy,Utilities,"Akron, Ohio",,1997\r\nFIS,FIS,Information Technology,"Jacksonville, Florida",10.11.2006,1968\r\nFISV,Fiserv,Information Technology,"Brookfield, Wisconsin",02.04.2001,1984\r\nFLT,Fleetcor,Information Technology,"Atlanta, Georgia",20.06.2018,2000\r\nFMC,FMC Corporation,Materials,"Philadelphia, Pennsylvania",19.08.2009,1883\r\nF,Ford Motor Company,Consumer Discretionary,"Dearborn, Michigan",04.03.1957,1903\r\nFTNT,Fortinet,Information Technology,"Sunnyvale, California",11.10.2018,2000\r\nFTV,Fortive,Industrials,"Everett, Washington",01.07.2016,2016\r\nFBHS,Fortune Brands Home & Security,Industrials,"Deerfield, Illinois",22.06.2016,2011 (1969)\r\nFOXA,Fox CorporationÂ\xa0(Class A),Communication Services,"New York City, New York",01.07.2013,2019\r\nFOX,Fox CorporationÂ\xa0(Class B),Communication Services,"New York City, New York",18.09.2015,2019\r\nBEN,Franklin Templeton,Financials,"San Mateo, California",,1947\r\nFCX,Freeport-McMoRan,Materials,"Phoenix, Arizona",,1912\r\nGRMN,Garmin,Consumer Discretionary,"Schaffhausen, Switzerland",12.12.2012,1989\r\nIT,Gartner,Information Technology,"Stamford, Connecticut",05.04.2017,1979\r\nGEN,Gen Digital Inc.,Information Technology,"Tempe, Arizona",25.03.2003,1982\r\nGNRC,Generac,Industrials,"Waukesha, Wisconsin",22.03.2021,1959\r\nGD,General Dynamics,Industrials,"Falls Church, Virginia",04.03.1957,1899\r\nGE,General Electric,Industrials,"Boston, Massachusetts",,1892\r\nGIS,General Mills,Consumer Staples,"Golden Valley, Minnesota",31.03.1969,1856\r\nGM,General Motors,Consumer Discretionary,"Detroit, Michigan",06.06.2013,1908\r\nGPC,Genuine Parts Company,Consumer Discretionary,"Atlanta, Georgia",31.12.1973,1925\r\nGILD,Gilead Sciences,Health Care,"Foster City, California",01.07.2004,1987\r\nGL,Globe Life,Financials,"McKinney, Texas",30.04.1989,1900\r\nGPN,Global Payments,Information Technology,"Atlanta, Georgia",25.04.2016,2000\r\nGS,Goldman Sachs,Financials,"New York City, New York",22.07.2002,1869\r\nHAL,Halliburton,Energy,"Houston, Texas",04.03.1957,1919\r\nHIG,Hartford (The),Financials,"Hartford, Connecticut",04.03.1957,1810\r\nHAS,Hasbro,Consumer Discretionary,"Pawtucket, Rhode Island",30.09.1984,1923\r\nHCA,HCA Healthcare,Health Care,"Nashville,Â\xa0Tennessee",27.01.2015,1968\r\nPEAK,Healthpeak,Real Estate,"Long Beach, California",31.03.2008,1985\r\nHSIC,Henry Schein,Health Care,"Melville, New York",17.03.2015,1932\r\nHSY,Hershey\'s,Consumer Staples,"Hershey, Pennsylvania",04.03.1957,1894\r\nHES,Hess Corporation,Energy,"New York City, New York",31.05.1984,1919\r\nHPE,Hewlett Packard Enterprise,Information Technology,"Houston, Texas",02.11.2015,2015\r\nHLT,Hilton Worldwide,Consumer Discretionary,"Tysons Corner, Virginia",19.06.2017,1919\r\nHOLX,Hologic,Health Care,"Marlborough, Massachusetts",30.03.2016,1985\r\nHD,The Home Depot,Consumer Discretionary,"Atlanta, Georgia",31.03.1988,1978\r\nHON,Honeywell,Industrials,"Charlotte, North Carolina",31.03.1964,1906\r\nHRL,Hormel Foods,Consumer Staples,"Austin, Minnesota",04.03.2009,1891\r\nHST,Host Hotels & Resorts,Real Estate,"Bethesda, Maryland",20.03.2007,1993\r\nHWM,Howmet Aerospace,Industrials,"Pittsburgh, Pennsylvania",31.03.1964,2016\r\nHPQ,HP Inc.,Information Technology,"Palo Alto, California",31.12.1974,1939 (2015)\r\nHUM,Humana,Health Care,"Louisville, Kentucky",,1961\r\nHBAN,Huntington Bancshares,Financials,"Columbus, Ohio;Â\xa0Detroit, Michigan",,1866\r\nHII,Huntington Ingalls Industries,Industrials,"Newport News, Virginia",03.01.2018,2011\r\nIBM,IBM,Information Technology,"Armonk, New York",04.03.1957,1911\r\nIEX,IDEX Corporation,Industrials,"Lake Forest, Illinois",09.08.2019,1988\r\nIDXX,Idexx Laboratories,Health Care,"Westbrook, Maine",05.01.2017,1983\r\nITW,Illinois Tool Works,Industrials,"Glenview, Illinois",28.02.1986,1912\r\nILMN,Illumina,Health Care,"San Diego, California",19.11.2015,1998\r\nINCY,Incyte,Health Care,"Wilmington, Delaware",28.02.2017,1991\r\nIR,Ingersoll Rand,Industrials,"Davidson, North Carolina",03.03.2020,1859\r\nINTC,Intel,Information Technology,"Santa Clara, California",31.12.1976,1968\r\nICE,Intercontinental Exchange,Financials,"Atlanta, Georgia",26.09.2007,2000\r\nIP,International Paper,Materials,"Memphis, Tennessee",04.03.1957,1898\r\nIPG,The Interpublic Group of Companies,Communication Services,"New York City, New York",01.10.1992,1961 (1930)\r\nIFF,International Flavors & Fragrances,Materials,"New York City, New York",31.03.1976,1958 (1889)\r\nINTU,Intuit,Information Technology,"Mountain View, California",05.12.2000,1983\r\nISRG,Intuitive Surgical,Health Care,"Sunnyvale, California",02.06.2008,1995\r\nIVZ,Invesco,Financials,"Atlanta, Georgia",21.08.2008,1935\r\nINVH,Invitation Homes,Real Estate,"Dallas, Texas",19.09.2022,2012\r\nIQV,IQVIA,Health Care,"Durham, North Carolina",29.08.2017,1982\r\nIRM,Iron Mountain,Real Estate,"Boston, Massachusetts",06.01.2009,1951\r\nJBHT,J.B. Hunt,Industrials,"Lowell, Arkansas",01.07.2015,1961\r\nJKHY,Jack Henry & Associates,Information Technology,"Monett, Missouri",13.11.2018,1976\r\nJ,Jacobs Solutions,Industrials,"Dallas, Texas",26.10.2007,1947\r